#loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25%;
  padding-bottom:25%;
  animation: fadeout ease-out 4s;
  background-color: rgba(76, 0, 130, 0.15);
}

@keyframes fadeout{
  30% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.loader-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
}

.loader-greetings{
  font-family: monospace;
  font-size: 20px;
}


#myDiv {
  background-color: white;
  z-index:999999;
  display: none;
  background-image: url('/img/icon/maxyhwu-3.png');
}
