header{
 display: flex;
 justify-content: space-between;
 margin-left: 2%;
 margin-right: 5%;
 margin-bottom: 5%;
 margin-top: 2%;
}

.logo{
  /*align-self: center;*/
}

nav{
 display: flex;
 align-self: center;
}
nav :hover{
  top: -8px;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  border-color: indigo;
  border-style: solid;
  margin: 2%;
  text-decoration: none;
  padding: 8px;
  position: relative;
}

.menu .icon{
  align-self: center;
}

.menu .text{
  text-decoration-line: none;
  text-align: center;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

#info{
  margin: 2% 10%;

}

.title{
  /*font-family: 'Helvetica', sans-serif;
  /*font-family: 'Exo', sans-serif;*/
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 40pt;
  /*font-weight: bold;*/
  text-align: center;
  border-color: indigo;
  border-style: groove;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.homepart{

}
.homepart .infotitle{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 2em;
  /*font-weight:bold;*/
  border-bottom: solid 3px indigo; /* 自訂的顏色 */
  padding: 0.1em 0;
}
.homepart .infosubtitle{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 24px;
  /*font-weight:bold;*/
  padding: 0.1em 0;
  margin-top: 2%;
  margin-left: 2%;
}
.homepart .item{
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin: 2%;
  margin-top: 0;
  font-size: 20px;
  line-height: 2;
  }
.homepart .item .name{
  font-size: 25px;
  display: inline-block;
  margin: 0.5%;
  height: 25px;
}
.homepart .item .dot {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border-color: indigo;
  border-style: solid;
  display: inline-block;
  margin: 0.5%;
  line-height: 25px;
  text-align: center;
}
.homepart .personalexperience{
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin: 2%;
  font-size: 24px;
  line-height: 1.5;
}
.homepart .personalexperience .name{
  line-height: 1;
}
.homepart .personalexperience .org{
  font-size: 14px;
  color: gray;
  line-height: 1;
  margin-bottom: 5px;
}

.posts{

}

@keyframes expandbar{
    0% {width: 0;}
    100% {width: 100%;}
}

footer{
  bottom: 0;
}

.copyright{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-weight: bold;
  text-align: center;
}
