header{
  padding-top: 2%;
  padding-bottom: 2%;
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-top: 2%;
  background-color:white;
  border-bottom: solid thin indigo;
}

nav{
  z-index: 10;
  display: flex;
  align-self: center;
}
nav :hover{
  top: -8px;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  border-color: #6b4d63;
  border-style: solid;
  margin: 2%;
  text-decoration: none;
  padding: 8px;
  position: relative;
  width: 44px;
}

.menu .icon{
  align-self: center;
}

.menu .text{
  text-decoration-line: none;
  text-align: center;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

#info{
  margin: 2% 10%;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 100%;
}

.title{
  margin-left: 1%;
  /*font-family: 'Helvetica', sans-serif;*/

  /*font-weight: bold;*/
  text-align: center;
  border-color: #6b4d63;
  border-style: groove;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.title-wrapper{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 36pt;
  display:flex;
}

.title-wrapper .title-img{
  height: 60pt;
  justify-content: center;
}


.homepart{

}
.homepart .infotitle{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 2em;
  /*font-weight:bold;*/
  border-bottom: solid 3px indigo;
  padding: 0.1em 0;
}
.homepart .infosubtitle{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 24px;
  /*font-weight:bold;*/
  padding: 0.1em 0;
  margin-top: 2%;
  margin-left: 2%;
}
.homepart .item{
  /*font-family: 'Baloo Bhaijaan 2', cursive;*/
  font-family: 'Roboto Mono', monospace;
  margin: 2%;
  margin-top: 0;
  font-size: 20px;
  line-height: 2;
  }
.homepart .item .name{
  font-size: 25px;
  display: inline-block;
  margin: 0.5%;
  height: 25px;
}
.homepart .item .level {
  font-size: 20px;
  color: gray;
  line-height: 1;
  text-align: center;
  align-items: center;
  /*margin-bottom: 5px;*/
}
.homepart .item .explain {
  font-size: 14px;
  color: gray;
  line-height: 1;
  margin-left: 8px;
  /*margin-bottom: 5px;*/
}
.homepart .personalexperience{
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin: 2%;
  font-size: 24px;
  line-height: 1.5;
}
.homepart .personalexperience .name{
  line-height: 1;
}
.homepart .personalexperience .org{
  font-size: 14px;
  color: gray;
  line-height: 1;
  margin-bottom: 5px;
}
.projects{
  z-index: 2;
  display: flex;
  align-self: center;
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  border-color: #6b4d63;
  border-style: solid;
  margin: 2%;
  text-decoration: none;
  padding: 8px;
  position: relative;
  width: 45%;
  height: 270px;
  z-index:1;
  justify-content: center;
}

.project .tooltiptext {
  visibility: hidden;
  width: 90%;
  height:90%;
  background-color: rgba(255,255,255,0.85);
  color: black;
  border-radius: 6px;
  padding: 3%;
  position: absolute;
  z-index: 2;
  font-family: 'Roboto Mono', monospace;
}

.project:hover .tooltiptext {
  visibility: visible;
}

.cv{
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 47, 255, 0.5);
  border-width: medium;
  text-decoration: none;
  background-color: rgba(0, 47, 255, 0.1);
}
.cv:hover .cv-text{
  color:rgba(0, 47, 255, 0.75);
  background-color: white;

}

.cv:visited{
  color: black;
}

footer{
  position: relative;
  text-align: center;
  padding-top: 2%;
}
.logos{
  justify-content: center;
  display: flex;
  align-self: center;
  align-item: center;
}

.logo{
  border-radius: 20%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  position: relative;
}
.icon-mail:hover{fill:#e34c41}
.icon-github:hover{fill:#464646}
.icon-twitter:hover{fill:#1bb2e9}
.icon-youtube:hover{fill:#cc181e}
.icon-facebook:hover{fill:#3c599b}
.icon-linkedin:hover{fill:#2447e2}
.icon-instagram:hover{fill:#bc2a8d}

.contact{

}

.contact .icon{
  align-self: center;
  color: blue;
}

.copyright{
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-weight: bold;
  text-align: center;
}
